<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<link rel="apple-touch-icon" href="{{asset "img/favicon.ico"}}" />
<link rel="icon" href="{{asset "img/favicon.ico"}}" type="image/x-icon" />
<link rel="shortcut icon" href="{{asset "img/favicon.ico"}}" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/print.css"}}" media="print" />
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic' rel='stylesheet' type='text/css'>