<div id="site-sidebar" class="c-site-sidebar">
    {{! Sidebar header with blog cover and logo images }}
    <div class="c-sidebar-header" style="background-image: url({{@blog.cover_image}})">
        <a class="c-sidebar-header__link" href="{{@blog.url}}" title="{{@blog.title}}">
            <img class="c-sidebar-header__image" src="{{@blog.logo}}" alt="{{@blog.title}}">
        </a>
    </div>

    {{! Sidebar blog title }}
    {{#is "home"}}<h1 class="c-sidebar-blog-title">{{else}}<h2 class="c-sidebar-blog-title">{{/is}}
        <a class="c-sidebar-blog-title__link" href="{{@blog.url}}" title="{{@blog.title}}">
            {{@blog.title}}
        </a>
    {{#is "home"}}</h1>{{else}}</h2>{{/is}}

    {{! Sidebar blog description }}
    <h2 class="c-sidebar-blog-description">
        {{@blog.description}}
    </h2>

    {{! Sidebar contact links }}
    <div class="c-sidebar-contact-links">
        <a class="c-sidebar-contact-links__item" href="#" target="_blank">
            github
        </a>

        <a class="c-sidebar-contact-links__item" href="#" target="_blank">
            twitter
        </a>

        <a class="c-sidebar-contact-links__item" href="#" target="_blank">
            linkedin
        </a>

        <a class="c-sidebar-contact-links__item" href="#">
            email
        </a>
    </div>

    {{! Sidebar navigation - Ghost's menu }}
    {{navigation}}

    {{! Sidebar promotion / additional links }}
    <div class="c-sidebar-promotion-links">
        <a class="c-sidebar-promotion-links__item" href="#" target="_blank">
            &bull; Link
        </a>

        <a class="c-sidebar-promotion-links__item" href="#" target="_blank">
            &bull; Link
        </a>
    </div>
</div>