<!DOCTYPE html>
<html lang="en">
<head>
    {{>"head"}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="site-wrapper" class="c-site-wrapper">
        <div id="site-viewport" class="c-site-viewport">
            {{>"sidebar"}}

            <div id="site-content" class="c-site-content">
                {{> "mobile-header"}}
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="{{asset "js/scripts.js"}}"></script>
    {{ghost_foot}}
</body>
</html>